<ion-header>
  <ion-toolbar>
    
    <ion-title>
      Sign up
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="ion-padding">
  <form #registerForm="ngForm">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <p>Enter Username</p>
      </ion-col>
      <ion-col size="12">
        <ion-input 
        class="input"
        name="username" 
        ngModel 
        #uname="ngModel" 
        [(ngModel)] = username 
        required 
        placeholder="Enter Username" 
        minlength="6"
        ></ion-input>
      </ion-col>
      <ion-col size="12" *ngIf="uname.touched && !uname.valid">
        <ion-text color="danger">
          <p *ngIf="uname.errors.required">Please enter Username</p>
          <p *ngIf="uname.errors.minlength">Username should be a minimum of 6 character long</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
          <p>Enter Email</p>
        </ion-col>
        <ion-col size="12">
            <ion-input 
            class="input"
            name="email" 
            ngModel 
            #uemail="ngModel" 
            [(ngModel)] = email 
            required 
            placeholder="Enter email" 
            ></ion-input>
        </ion-col>
        <ion-col size="12" *ngIf="uemail.touched && !uemail.valid">
            <ion-text color="danger">
              <p>Please enter email</p>
            </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <p>Enter Password</p>
        </ion-col>
        <ion-col size="12">
            <ion-input 
            class="input"
            name="password" 
            ngModel 
            #upass="ngModel" 
            [(ngModel)] = password 
            required 
            placeholder="Enter password" 
            type="password"
            ></ion-input>
        </ion-col>
        <ion-col size="12" *ngIf="upass.touched && !upass.valid">
            <ion-text color="danger">
              <p>Please enter password</p>
            </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <p>Re Enter Password</p>
        </ion-col>
        <ion-col size="12">
            <ion-input 
            class="input"
            name="repassword" 
            ngModel 
            #uerpass="ngModel" 
            [(ngModel)] = repassword 
            required 
            placeholder="Re Enter Username" 
            type="password"
            ></ion-input>
        </ion-col>
        <ion-col size="12" *ngIf="uerpass.touched && !uerpass.valid">
            <ion-text color="danger">
              <p>Please re enter password</p>
            </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" color="primary" [disabled]="!registerForm.valid" (click)="signUp()"> Sign Up </ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>
</form>
</div>
</ion-content>
