<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>List of Teachers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color:lightblue">
<ion-card>
  <ion-searchbar placeholder="Search" [(ngModel)]='term' animated="true" ></ion-searchbar>
</ion-card>
<div *ngIf="teacherData!=null">
<ion-list  *ngFor="let p of searchItem | filter: term " style="padding:0.5%;">
  
    <ion-card style="padding: 1%;color: blue;margin:1%;background-color: lightgrey;">

    <p>
      <ion-label><b>Name:</b> {{ p.name }}</ion-label>
    </p>
    <ion-label><b>Section:</b> {{ p.section }}</ion-label>
    </ion-card>
  
  

</ion-list>
</div>  
</ion-content>
