<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="welcome-card" style="padding: 3%;">
	<div id="banner_wrapper">	
		<div class="container">					
			<div id="banner">
				<a href="#"><img src="/assets/images/banner.jpg"  alt="banner image" title="Image Source : http://scoilphadraignscorduff.scoilnet.ie/blog/files/2010/11/Parent-TeacherConference1.jpg"/></a>
			</div>	
		</div>	
	</div>			
	<div id="site_content">
		<div class="container">			
			<div class="row">
				<section class="6u">
				
					
					<h1>Welcome to IIT Bombay KV School Parents-Teachers Discussion Forum</h1>
					<p>This forum is built to facilitate better personalized communication 
						between parents and teachers of children studying in IIT Bombay KV 
						School.  The short meeting times between parents and teachers when 
						dropping children to school or when picking them up may not be conducive 
						for more detailed discussions.</p><p>  This forum hopes to address this by 
						allowing parents and teachers to communicate at times of their 
						convenience, while keeping the conversation personalized.  It can also 
						be used to provide constructive suggestions from parents to the school 
						authorities and vice versa.</p>
					</section>
					<section class="6u">
						<a href="#" class="image" ><img src="/assets/images/home-school-partnership.jpg" title="Image Source: http://www.jamaicaobserver.com/columns/Teachers-are-from-Saturn--parents-are-from-Jupiter"alt="image"/></a>
					</section>					
				</div>

			</div>
		</div>		
  </ion-card>

</ion-content>
